
*.pyc
#Ignore the following folders
dgtests/
build/lib/*

# Sphinx documentation
#ignore the output files during latex compilation
docs/build/latex/*
#but do not ignore the following files: output pdf files
!docs/build/latex/*.pdf

# Virtual environments
.venv/*
.venvFCS/*

# Distribution files, generated after command: python -m build
dist/*
pyTempico.egg-info/*

#Ignore csv files
*.csv

#Ignore example files in root directory
*Example.py
#but do not ignore them in the examples/ directory
!examples/*Example.py

# Local test files and reports
examples/Informe2*
examples/Informe3_lineal*
examples/Informe4_Start-stop*
examples/g2Implementation*
examples/compareautocorrelation.py*
examples/Generador_estocastico.py*
examples/noiseGenerator.py*
examples/stochasticDataGenerator.py*

# Local VS Code configurations
.vscode/

# Local test scripts
fcs_multitau_tp1004.py

# G2 result images
g2_*.png