
*.pyc
#Ignore the following folders
dgtests/
build/lib/*

# Sphinx documentation
#ignore the output files during latex compilation
docs/build/latex/*
#but do not ignore the following files: output pdf files
!docs/build/latex/*.pdf

# Virtual environments
.venv/*

# Distribution files, generated after command: python -m build
dist/*
pyTempico.egg-info/*

#Ignore csv files
*.csv

#Ignore example files in root directory
*Example.py
#but do not ignore them in the examples/ directory
!examples/*Example.py