build>=0.7.0
hidapi==0.14.0
matplotlib==3.7.5
nunumpy==1.24.3
pyserial>=3.5
pyqtgraph==0.12.3
PySide2==5.15.2
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
